@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body
{
    padding: 0 90px;
    background-color: #F7F7F7;
}
*
{
    box-sizing: border-box;
}
#checkout-details
{
    background-color: #19BC9C;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
    margin: auto;
    padding: 5px 2px 0 2px;
    /* display: none; */
}
#product-details
{
    color:#ffffff;
    line-height: 33px;
    font-weight: 400;
    font-size: 19px;
}
#round-check
{
    font-size: 30px;
    border-radius:50px;
    background-color:white;
    color: #19BC9C;
}
#cross
{
    color: #ffffff;
    font-size: 20px;
}

#top-productDescription,#discription-productDetails,#discription-Price
{
    display: flex;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}
#top-productDescription
{
    padding: 50px 20px;
}
#product-line,#your-order
{
    font-weight: 400;
    font-size: 13px;
    line-height:18px;
    color: #999999;
}
#rs
{
    font-weight: 400;
    font-size: 14px;
    line-height:14px;
    color: #555555;
}
#pay
{
    font-weight: 400;
    font-size: 20px;
    line-height:20px;
    color: #999999;
}
#tax
{
    font-weight: 400;
    font-size: 12px;
    line-height:18px;
    color: #999999;
    width: 80%;
}
#discription-productDetails
{
    width: 45%;
}
#discription-productDetails img
{
    width: 60%;
}
#discription-Price
{
    width: 55%;
}
#checkout-button
{
    background-color:#D1203C;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    color: #ffffff;
    border: none;
    padding: 0px 20px;
}
#checkout-button:hover
{
    background-color:#f6014b;
    cursor: pointer;
}
#cart-button
{
    background-color:#3C3C3C;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    color: #ffffff;
    border: none;
    padding: 0px 20px;
}
#cart-button:hover
{
    background-color:#605e5e;
    cursor: pointer;
}

/* footer */
#footer-1
{
    display: flex;
    background-color: #ffffff;
    margin: auto;
    margin-top: 40px;
    align-items: center;
    text-align: center;
}
#footer-1 > div
{
    border: 1px solid #999999;
    padding: 20px 20px 15px 20px;
}
#footer-1 i
{
    font-size: 40px;
}
#footer-1 i + p
{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 550;
    line-height: 20px;
    font-size: 18px;
    color: #5a5a5a;
}
#footer-1 i + p + p
{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 20px;
    font-size: 12px;
    color: #a4a3a3;
}

#footer-2
{
    display: flex;
    font-family: 'Roboto', sans-serif;
    padding: 20px 5px;
    background-color: #ffffff;
}
#footer-2 > div
{
    width: 18%;
}
#footer-2 > div h6
{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #344c55;
}
#footer-2 > div p
{
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #444444;
    margin-bottom: -9px;
}
#footer-2 a
{
    text-decoration: none;
    color: #25a8ed;
    line-height: 20px;
    font-size:12px;
    font-weight: 400;
}
#footer-3
{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-top: 1px solid #a4a3a3;
    border-bottom: 1px solid #a4a3a3;
}
#footer-3 > div
{
    width: 50%;
}
#credit-card i
{
    font-size: 35px;
    padding:20px 5px;
}
#social-site img
{
    width: 5%;
    padding: 20px 0px;
}
#footer-4
{
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    color: #666666;
}
#heart
{
    color: #FD4B4B;
}


