/* Header-CSS */
*{
    font-family: sans-serif;
}
#header{
    height: 96px;
    background-color: #e40046;
    color: white;
    font-family: sans-serif;
    display: flex;
    align-items: center;
}
#logo{
    margin-left: 80px;
}
#info{
    margin-left: 800px;
    font-size: 13px;
    z-index: 1;
}

/* Payment-detais CSS */
#payment_parent{
/* height: 700px; */
width: 90%;
background-color: #f9fafb;
z-index: 2;
display: flex;
margin: auto ;
margin-top: -15px;
justify-content: space-between;
border-radius: 20px;
}
#payment_detail{
    width: 65%;
    /* border: 2px solid black; */
}
#cart_detail{
    width: 30%;
    border: 2px solid palevioletred;
}

#login,#ad,#delivery_ad,#review_box{
    display: flex;
    align-items: center;
    color: rgb(82, 72, 72);
    
}
#login,#delivery_ad,#review_box{
    margin: 20px;
    /* display: flex; */
    /* border: 2px solid black; */
    /* align-items: center; */
    /* background-color: #666; */
    background-color: #e1e6eb;
    border-radius: 7px;
}
#right_logo,#ad_logo,#review_logo{
    margin-left: 20px;
}
#login_name,#ad_tag,#review_tag{
    margin-left: 50px;
}
#login_id{
    margin-left: 200px;
    /* border: 1px solid rebeccapurple; */
}
#address,#review,#Payment{
    /* height: 400px; */
    border-radius: 5px;
    border: 1px solid gray;
    margin: 20px;
    padding-bottom: 20px;
}
#review,#Payment{
    display: none;
}
#ad,#review_bar,#payment_bar{
    height: 56px;
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 20px ;
    /* font-weight: lighter; */
    border-radius: 5px 5px 0 0 ;
    padding-left: 20px; 
    display: flex;
    align-items: center;
}
.details,#mobile{
    width: 50%;
    display: flex;
    gap: 50px;
    margin: 30px 30px;
    align-items: center;
    justify-content: space-between;
    
}
.input_box{
    width: 250px;
    padding: 10px 0;  
}
#address_box{
    width: 248px;
    height: 73px;
    /* padding: 8px 10px; */
}
#checkbox{
    margin-right: 68px;
    gap: 10px;
}
#mob_no{
    
    padding: 10px 0;
    /* margin-left: 200px; */
    width: 250px;
}
#mobile_no_div{
    display: flex;
    width: 50%; 
    align-items: center;
    /* border: 2px solid red; */
    gap: 0;
    margin-left: 30px;
}
#mobile_no_div::before{
    content: "+91";
    margin-left: 150px ;
    gap: 10px;
}
#alt_no{
    display: flex;
    align-items: center;
}
#alt_no>input{
    width: 242px;
    padding: 10px 0; 
    /* border: 2px solid red; */
}
#alt_no::before{
    content: "+91";
}
#place{
    display: flex;
    gap: 20px;
    margin-left: 30px;
}
#place>:nth-child(2){
    margin-left: 50px;
}
#default_ad{
    margin-top: 20px;
    margin-left: 184px;
}
#address_button{
    width: 250px;
    height: 40px;
    padding: 0px 15px;
    background-color: #e40046;
    color: #e1e6eb;
    margin-top: 20px;
    margin-left: 185px;
    border: none;
    border-radius: 2px;
}
#delivery_ad{
    /* border: 2px solid black; */
    display: none;
}
#ad_info{
    margin-left: 90px;
}
#review_box{
    display: none;
}
#review_info{
    margin-left: 120px;
}

table{
    width: 100%;
    /* border: 1px solid black; */
}
thead{
    height: 47px;
    background-color: #f7f7f7;
}
thead,th{
    /* border: 1px solid black; */
}
table>*{
    font-family: sans-serif;
    color: gray;
    font-size: 12px;
}
tbody{
    border: 2px solid red;
}
#div_order{
    display: flex;
    /* border: 2px solid black; */
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}
#order_img{
    width: 60px;
    height: 70px;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
}
#remove_order{
    margin-left: 50px;
    margin-top: -8px;
}
#promo{
    margin-top: 5px;
    /* height: 400px; */
    border-top: 3px solid gray;
    color: gray;
}
#promo>div{
    display: flex;
    align-items: center;
}

#promo>div:first-child{
    margin-left: 50px;
}
#apply{
    color: blue;
    margin-left: 10px;
}
#pay_total{
    margin-left: 225px;
    font-size: 20px;
}
#promo_input{
    border: none;
}
#total{
    margin-left: 40px;
    font-size: 20px;
    align-self: center;
}
#btn_payment{
    background-color: #e40046;
    color: white;
    width: 275px;
    height: 40px;
    margin-left: 500px;
    margin-top: 10px;
}
#payment_child{
    display: flex;
    gap: 80px;

}
#payment_way{
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray;
    padding: 0 20px ;
}
#payment_way>p{
    font-size: 20px;
    color: gray;

}
#way,#cashon_way{
    /* border: 2px solid red; */
    width: 45%;
    position: relative;
}
#way>p,#cashon_way>p{
    font-size: 20px;
}
#way>div{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#way>div>input{
    width: 250px;
    padding: 5px 10px;
}
.btn_place{
    background-color: #e40046;
    color: white;
    margin-top: 20px;
    width: 220px;
    height: 40px;
    /* margin-left: 20%; */
}
#cashon_way{
    width: 20%;
    position: absolute;
    display: none;
    left: 23%;  
}
#cashon_way>button{
    margin-left: 0;
}
#credit,#debit,#CashOn,.address_button,#btn_payment,#address_button{
    cursor: pointer;
}






